ol,
ul,p,h1,h2,h3,h4,h5{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

html{
    background-color: #fff;
}
body{
    color: #434455;
    font-family: "Roboto", sans-serif;
}

img{
    display: block;
}

/* header-styles */
.page-header{
    border-bottom: 1px solid  #e7e9fc;
    /* box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); */
    
}
.container{
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px 0 16px;

}
.page-header{
    max-width: 320px;
    margin: 0 auto;
}
.page-header .container{
    max-width: 320px;
    height: 56px;
    display: flex;
    border-bottom: 1px solid #e7e9fc
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
}

.main-logo{
    margin-right: 76px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;

}
.main-logo-studio{
    color: #2e2f42;
}
.menu{
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    display: none;
}
.menu-item-studio{
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.menu-item-studio:hover,
.menu-item-studio:focus{
    color:#404bbf;
}
.menu-item-studio-active{
    color: #404bbf;
    position: relative;

    border-bottom:  solid #404bbf;
    border-radius: 2px;


    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.menu-item-studio-active::after{
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menu-open-button{
    display: block;
    padding: 0px;
    margin-left: 84px;
    background-color: #FFFFFF;
    border: #e7e9fc;
}

.contacts{
    

    display: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-left: 328px;
    font-style: normal;    
}

.contact-list{
    display: none;
    padding: 0;
    /* display: flex; */
    gap: 40px;
}

.contact-item a{
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item{
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item-a{
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item-a{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.contact-item-a:hover,
.contact-item-a:hover,
.contact-item-a:focus,
 .contact-item-a:focus{
    color: #404bbf;
}

/* end header */



/* -------------------------------------------------------MOBILE-MENU---------------------------------------- */
/* -------------------------------------------------------MOBILE-MENU---------------------------------------- */
/* -------------------------------------------------------MOBILE-MENU---------------------------------------- */

.mob-menu-div{
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    padding: 24px 24px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
}

.menu-close-button{
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
    
}
/* .mob-menu-ul-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.mob-menu-list a{
    /* margin-top: 40px; */

}

.mob-menu-item{
    margin-left: 16px;
    margin-bottom: 40px;
}


.mob-menu-item-studio-active{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #404bbf;

    margin-top: 40px;
}
.mob-menu-item-studio{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.mob-menu-div .our-team-social-icon-list{
    margin-bottom: 50px;
}

.menu-open-button-logo{
    color: black;
}
/* -------------------------------------------------------MOBILE-MENU---------------------------------------- */
/* -------------------------------------------------------MOBILE-MENU---------------------------------------- */
/* -------------------------------------------------------MOBILE-MENU---------------------------------------- */

/* main */

.hero-section{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-sectin-bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 320px;
    /* height: 432px; */
    text-align: center;
    padding: 72px 0;



    
}

.hero-section .container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 48px;
}



.hero-section-h{
    margin: 0 auto;
    max-width: 160px;
    max-height: 160px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;

}


.hero-section-button{
    margin: 0 auto;
    display: block;

    height: 56px;
    min-width: 169px;
    min-height: 56px;
    
    
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
    cursor: pointer;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    /* transition:background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1); */


}

/* --------------------------------------BENEFITS--------------------------------------------------------- */
.benefits-section .container{
   /* max-width: 288px; */
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   /* background-color: red; */
}
.container .hero-section-button{
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-button:hover, .hero-section-button:focus{
    background-color: #404bbf;
}

.benefits-section{
    padding: 96px 0;
}
.benefits-section-ul {
    margin: 0;
    padding: 0;
    

}
.benefits-icon-container{
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;

}
.benefits-section-strategy-li{
    /* width: calc((100% - 72px) / 4); */
    margin-bottom: 51px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.benefits-section-h{
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;

    /* font-weight: 500; */
    font-weight: 700;
    /* font-size: 20px; */
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}
.benefits-section-p{
    /* font-weight: 400; */
    font-weight: 500px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}



/* -------------------------------------------------OUR-TEAM-SECTION----------------------------------------------------------------------------- */


.our-team-section .container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.our-team-section{
    padding: 120px 0;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background: #f4f4fd;
}
.our-team-section-item{
    background-color: #fff;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);


    margin: 0 auto;

    max-width: 264px;

    /* row-gap: 72px; */


    
}

.our-team-section-p{
    text-align: center;

    font-size: 16px;
    line-height: 1.5;
    color:#434455;
    letter-spacing: 0.02em;
}

.our-team-section-main-h{
    margin-bottom: 72px;


    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.our-team-section-list{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 72px;
    flex-wrap: wrap;

}

.name-position{
    padding: 32px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.our-team-social-icon-list{
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;

}

.our-team-social-list-item{
    width: 40px;
    height: 40px;
    transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

/* .name-position .our-team-social-icon-list .our-team-social-list-item {
    transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1);
} */


.our-team-social-link{
    background-color: red;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-social-link:hover, .our-team-social-link:focus{
    background-color: #404bbf;
}

.our-team-social-icon{
    fill:#f4f4fd;



    /* width: 40px;
    height: 40px; */
}



/* ----------------------------------PORTFOLIO---------------------------------- */
/* ----------------------------------PORTFOLIO---------------------------------- */
/* ----------------------------------PORTFOLIO---------------------------------- */
/* ----------------------------------PORTFOLIO---------------------------------- */

.our-portfolio-section .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.our-portfolio-section{
    padding: 120px 0 120px 0;
}
.our-portfolio-section-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;    
}
.our-portfolio-section-list-item{
    /* width: calc((100% - 48px) / 3); */
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)


}

.our-portfolio-section-list-item:hover .our-portfolio-app-img p{
    transform: translateY(0%);
}


.our-portfolio-section-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-portfolio-app-img{
    position: relative;
    overflow: hidden;
}

.our-portfolio-app-img-text{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-name-category{
    padding: 32px 16px;
    border: 1px solid  #e7e9fc;
    border-top: none;
    text-align-last: left;
}
.our-portfolio-section-main-h{
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

.our-portfolio-section-litle-h{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}


.our-portfolio-section-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




/* ------------------------------------FOOTER--------------------------------------------------- */
/* ------------------------------------FOOTER--------------------------------------------------- */
/* ------------------------------------FOOTER--------------------------------------------------- */
/* ------------------------------------FOOTER--------------------------------------------------- */






.footer-section{
    margin: 0 auto;
    background: #2e2f42;
    /* max-width: 320px; */
    padding: 96px 0px;
    text-align: center;


}


.footer-section .container .main-logo-footer{  
    display: inline-block;
    margin-bottom: 16px;
    max-width: 115px;
    max-height: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    
}

.footer-section-p{
    text-align: left;
    margin-bottom: 72px;
}

.footer-social-icons{
    margin: 0 auto;
    text-align: center;
    max-width: 208px;
    margin-bottom: 72px;
    /* padding: 72px 0px; */
}
.footer-social-icons-text{
    margin: 0 auto;
    text-align: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    margin-bottom: 16px;
}
.footer-social-icons-list{
    display: flex;
    gap: 16px;

    
}

.footer-social-icons-item{
    
    margin: 0 auto;


    width: 40px;
    height: 40px;

    transition: background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.footer-social-icons-item .our-team-social-link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}



.footer-social-icons-item .our-team-social-link:hover,
.footer-social-icons-item .our-team-social-link:focus{
    background-color: #31d0aa;
}



.footer-section .container .main-logo-footer{
    
    display: inline-block;
    margin-bottom: 16px;

    max-width: 115px;
    max-height: 24px;

    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
}

.main-logo-studio-footer{
    color: #f4f4fd;
}


.footer-section-p{
    


    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.formcontainer button{
    margin: 0 auto;
}
.formcontainertext{
    margin-bottom: 16px;
    font-weight: 500;
    font-style: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}


.form{
    gap: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formlabel{
    gap:24px;

}

.formlabelinput{
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    padding: 16px;
}

.formlabelinput::placeholder{
    color: #ffffff;
}

.formbutton{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}


.formbuttonlogo{
    margin-left: 16px;
}













/* ------------------------------------MODALWINDOW--------------------------------------------------- */
/* ------------------------------------MODALWINDOW--------------------------------------------------- */
/* ------------------------------------MODALWINDOW--------------------------------------------------- */
/* ------------------------------------MODALWINDOW--------------------------------------------------- */












.modalcontainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}


.modalwindow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);





    padding: 72px 24px 24px 24px;



    margin-bottom: 8px;
    
}

.modalwindowbutton{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
}

.modalwindowbutton:hover,
.modalwindowbutton:focus{
    background-color: #404bbf; 
    border: none; 
}


.modalwindowbuttonicon{
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modalwindowbutton:hover .modalwindowbuttonicon,
.modalwindowbutton:focus .modalwindowbuttonicon
{
    fill: #ffffff
}





.modalcontainertext{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color:#2E2F42;
    margin-bottom: 16px;
}


.userlabels{
    margin-bottom: 8px;
}
.userlabelsname{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    


    margin-bottom: 4px;
}



.userlabelsnameinputandicon{
    position: relative;
}


.user-name{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px; 
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    
}

/* .user-name:hover, */
.user-name:focus{
    border-color: #4D5AE5;
}


.usernameicon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.user-name:focus-within + .usernameicon{
    fill: #4D5AE5;
}





.textarreadiv{
    margin-bottom: 16px;
    
}


.usertextarrea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.usertextarrea:focus{
    border-color: #4D5AE5;
}



.checkboxcontainer{
    margin-bottom: 24px;
}



.checkboxlabel{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
}

.checkboxlabelspan{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}


input[type="checkbox"]:checked + label .checkboxlabelspan {
    background-color: #404bbf;
    border: none;
}


input[type="checkbox"]:checked + label .checkboxlabelspan {
    fill: #F4F4FD; 
}

/* input:checked + label + .checkboxicon{
    background-color:#404bbf;
} */




.labela{
    color:  #4d5ae5;
    text-decoration: underline;
}






.modalformbutton{
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ---------------------------------------------------MEDIA------------------------------------------------------ */

/* ------------------------------------------page-header-------------------------------------------------- */
/* ------------------------------------------page-header-------------------------------------------------- */
/* ------------------------------------------page-header-------------------------------------------------- */

@media screen and (min-width:768px){
    .page-header{
        max-width:768px;
        min-height: 72px;
        margin: 0 auto;
    }

    .page-header .container{
        max-width:768px;
        min-height: 72px;
    }
    .menu{
        display: flex;
        margin-left: 40px;
    }
    .menu-open-button{
        display: none;
    }

    .contacts{
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }
    .contact-list{
        gap: 12px;
        display: flex;
        flex-direction: column; 
    }
    .contact-item-a{
        font-size: 12px;
    }    
}

@media screen and (min-width:1158px){
    .page-header{
        max-width:1158px;
        min-height: 72px;
        margin: 0 auto;
    }

    .page-header .container{
        max-width:1158px;
        min-height: 72px;
    }

    .menu{
        margin-left: 0px;
    }





    .contact-list{
        gap: 12px;
        display: flex;
        flex-direction:row 
    }
    .contact-item-a{
        font-size: 12px;
    }  
}

/* ------------------------------------------page-header-------------------------------------------------- */
/* ------------------------------------------page-header-------------------------------------------------- */
/* ------------------------------------------page-header-------------------------------------------------- */



/* --------------------------------------HERO_SECTIONS---------------------------------------- */
/* --------------------------------------HERO_SECTIONS---------------------------------------- */
/* --------------------------------------HERO_SECTIONS---------------------------------------- */

@media screen and (min-width:768px){
    .hero-section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-section-tablet.jpg);
        max-width: 768px;
        height: 436px;
        padding-top: 112px;
    
    
    
        
    }
    .hero-section .container{
        max-width: 768px;
        gap: 36px;
    }


    
    .hero-section-h{
        margin: 0 auto;
        min-width: 496px;
        /* min-height: 120px; */
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
    
    }
}


@media screen and (min-width:1158px){
    .hero-section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-sectin-bg-image.jpg);
        margin: 0 auto;
        max-width: 1440px;
        padding: 188px 0;
        height: 600px;
    }
    
    .hero-section .container {
        gap: 48px;
    }
}








/* --------------------------------------HERO_SECTIONS---------------------------------------- */
/* --------------------------------------HERO_SECTIONS---------------------------------------- */
/* --------------------------------------HERO_SECTIONS---------------------------------------- */








/* -----------------------------------BENEFITS-------------------------------------------- */
/* -----------------------------------BENEFITS-------------------------------------------- */
/* -----------------------------------BENEFITS-------------------------------------------- */
@media (max-width: 1158px) {
    .benefits-icon-container {
        display: none;
    }

    @media screen and (min-width:768px){
        .benefits-icon-container {
            display: none;
        }
        .benefits-section .container{
            max-width: 768px;           
        }

        .benefits-section-ul{
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            text-align: left; 
        }
        .benefits-section-strategy-li{
            /* flex: calc(50% - 12px); */
            width: calc((100% - 24px) / 2);
            text-align: left;
        }

        .benefits-section-strategy-li .benefits-section-h{
            font-weight: 700;
            font-size: 36px;
            line-height: 1.11111;
            letter-spacing: 0.02em;
            color: #2e2f42;
            text-align: left;
        }

        .benefits-section-p{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        }
    }

    

    
}

@media screen and (min-width: 1158px){
    .benefits-section .container{
        max-width: 1158px;
        padding:0 15px 0 15px;
    }


    .benefits-section{
        padding: 120px 0;
    }
    .benefits-section-ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 24px;
        text-align: left;
    }
    .benefits-icon-container{
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
    
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .benefits-section-strategy-li{
        width: calc((100% - 72px) / 4);
    }

    .benefits-section-h h3{
        text-align:left;
    }


    .benefits-section-strategy-li .benefits-section-h{
        /* font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42; */
        text-align: left;
    }
}

/* -----------------------------------BENEFITS-------------------------------------------- */
/* -----------------------------------BENEFITS-------------------------------------------- */
/* -----------------------------------BENEFITS-------------------------------------------- */



/* ------------------------------------------OUR-TEAM---------------- */
/* ------------------------------------------OUR-TEAM---------------- */
/* ------------------------------------------OUR-TEAM---------------- */

@media  screen and (min-width:768px){
    .our-team-section .container{
        max-width: 585px;
    }


    .our-team-section-list{
        row-gap: 64px;
        column-gap: 15px;
    }
    .name-position{
        padding: 32px 0;
    }

    .benefits-section-h{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    }

    .our-team-section-p .our-team-section{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }
    
}

@media screen and (min-width: 1158px){
    .our-team-section .container{
        max-width: 1158px;
    }
    .our-team-section-list{
        gap:0px
    }

    
}

/* ------------------------------------------OUR-TEAM---------------- */
/* ------------------------------------------OUR-TEAM---------------- */
/* ------------------------------------------OUR-TEAM---------------- */


/* -----------------------------------------------------OUR-----PORTFOLIO----------------------------- */
/* -----------------------------------------------------OUR-----PORTFOLIO----------------------------- */
/* -----------------------------------------------------OUR-----PORTFOLIO----------------------------- */


@media screen and (min-width:768px){

    .our-portfolio-section .container{
        max-width: 736px;
    }

    .our-portfolio-section-list-item{
        width: calc((100% - 24px) / 2);
    }

    .our-portfolio-app-img img{
        width: 356px;
    }

}

@media screen and (min-width:1158px){

    .our-portfolio-section .container{
        max-width: 1128px;
        background-color: white;
    }



    .our-portfolio-section{
        padding: 120px 0 120px 0;
    }
    .our-portfolio-section-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;    
    }
    .our-portfolio-section-list-item{

        
        width: calc((100% - 48px) / 3);
        


        /* width: 360px; */
        /* height: 420px; */
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
    
    
    }
    .our-portfolio-app-img{
        
    }
    .our-portfolio-app-img img{
        width: 360px;
    }
}

/* -----------------------------------------------------OUR-----PORTFOLIO----------------------------- */
/* -----------------------------------------------------OUR-----PORTFOLIO----------------------------- */
/* -----------------------------------------------------OUR-----PORTFOLIO----------------------------- */
    


/* -------------------------------FOOTER--------------------------- */
/* -------------------------------FOOTER--------------------------- */
/* -------------------------------FOOTER--------------------------- */


@media screen and (min-width:768px){
    .footer-section{
        max-width: 768px;
        text-align: left;
    }
    .footer-section .container{
        max-width: 584px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0 auto;
        padding: 0px;

        text-align: left;
    }
    .form{
        display: flex;
        flex-direction:row;
        gap: 24px;
    }
    .footer-social-icons{
        margin: 0;
        padding: 0;
        
    }
    .footer-social-icons p{
        text-align: left;
        /* margin-bottom: 72px; */
    }
   

    .formbutton{
        min-width: 165px;
    }
}


@media screen and (min-width:1158px){

    .footer-section{
        max-width: 1440px;

        margin: 0 auto;
        padding: 100px 0;
        background: #2e2f42;
    }

    .footer-section .container{
        margin: 0 auto;
        max-width: 1158px;
        padding-top: 0px;
        display: flex;
        align-items: baseline;
    }
    
    .footer-content .container{
        margin-right: 120px;
        margin-bottom: 72px;
    }

    
    .formcontainer{
        padding: 0px;
        margin-left: 41px;
    }
    .footer-social-icons{
        margin-left: 120px;
    }

    .footer-section-p{
        margin: 0;;
    }
    
}


/* -------------------------------FOOTER--------------------------- */
/* -------------------------------FOOTER--------------------------- */
/* -------------------------------FOOTER--------------------------- */




/* -----------------------------------MODAL-WINDOW-----------------------
-----------------------------------MODAL-WINDOW-----------------------
-----------------------------------MODAL-WINDOW----------------------- */

@media screen and (min-width:768px){
    .modalwindow{
        width: 408px;
        height: 584px;
    }
}

@media screen and (min-width:1158px){
    .modalwindow{
        width: 408px;
        height: 584px;
    }
}






/* -----------------------------------MODAL-WINDOW-----------------------
-----------------------------------MODAL-WINDOW-----------------------
-----------------------------------MODAL-WINDOW----------------------- */




